#center>div {
	width: 1350px;
	margin: auto;
	overflow: hidden;
	
}

#center {
	padding-top: 50px;
	padding-bottom: 60px;
}


#center>div>ul {
	padding: 0px;
	float: left;
	/*background-color: red;clear: both;*/
}

#center .left {
	width: 220px;
	margin-right: 20px;
	overflow: hidden;
	border: 1px solid #C4C4C4;
	background-color: #f9fbfa;
	
}

#center .left>li {
	/*padding-left: 30px;*/
	background-color: #f9fbfa;
}

#center .left>li:first-child {
	line-height: 45px;
	font-size: 20px;
	background-color: #028dea;
	color: #fff;
	padding-left: 30px;
}

#center .left>li ul {}

#center .left>li li a {
	line-height: 35px;
	padding-left: 30px;
	color: #535353;
}

#center .left .active a {
	color: #007AC8;
}

#center .left>li>ul>li {}

#center .left ul>li:first-child {
	line-height: 50px;
	background-color: #f0f5f3;
	color: #535353;
	font-size: 19px;
	width: 100%;
	font-weight: bold;
	padding-left: 30px;
}

#center .right>li>div:first-child {
	width: 1050px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #028dea;
	background-color: #f0f5f3;
	padding-left: 20px;
	border: 1px solid #e4e4e4;
}

#center .right>li>div {
	border: 1px solid #e4e4e4;
}

#center .right>li>div:nth-of-type(2) {
	height: 240px;
	border-top: 0px solid;
	position: relative;
}

#center .right>li>div:nth-of-type(3) {
	height: 220px;
	border-top: 0px solid;
}

#center .right>li>div:nth-of-type(3) ul {
	margin-top: 30px;
	float: left;
	height: 140px;
	display: flex;
}

#center .right>li>div:nth-of-type(3) ul li {
	height: 140px;
	width: 320px;
	margin-left: 25px;
	border: 1px solid #e4e4e4;
	text-align: center;
	font-size: 16px;
	color: #535353;
}

#center .right>li>div:nth-of-type(3) ul li>div {
	margin-top: 20px;
	line-height: 70px;
	font-size: 25px;
	border: 0px solid;
}

#center .right>li>div:nth-of-type(2)>ul {
	height: 140px;
	position: absolute;
	width: 100%;
	top: 0px;
	top: 50%;
	margin-top: -70px;
	display: flex;
	/*margin-top: -80px;*/
}

#center .right>li>div:nth-of-type(2)>ul li {
	border-right: 1px solid #ddd;
	flex: 1;
	height: 100%;
	text-align: center;
	line-height: 35px;
	font-size: 16px;
	color: #535353;
}

#center .right>li>div:nth-of-type(2)>ul li div {
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 90px;
	line-height: 100px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#center .right>ul:nth-of-type(2) {
	background-color: #fafafa;
}

#center .question {
	margin-top: 30px;
}

#center .question>ul>li {
	display: flex;
}

#center .question>ul ul {
	flex: 1;
	padding-left: 80px;
}

#center .question>ul ul>li {
	font-size: 16px;
	color: #4f4e4e;
	line-height: 35px;
	list-style: square url(../img/list.jpg);
}

#center .question li:first-child em {
	display: inline-block;
	width: 0px;
	height: 22px;
	border: 2px solid #fe7e00;
	margin-right: 5px;
	position: relative;
	top: 4px;
}

#center .question>ul>li:first-child {
	font-size: 20px;
	color: #028dea;
	font-weight: bold;
	margin-bottom: 30px;
	line-height: ;
}

#center .question>ul {
	padding-left: 25px;
	padding-bottom: 50px;
	padding-top: 36px;
	background-color: #fafafa;
}

#center .right .c1 {
	border: 3px solid #ee5b53;
	color: #ee5b53;
}

#center .c2 {
	border: 3px solid #f7ab19;
	color: #f7ab19;
}

#center .c3 {
	border: 3px solid #289fb3;
	color: #289fb3;
}

#center .c4 {
	border: 3px solid #3b87d2;
	color: #3b87d2;
}

#center .c5 {
	border: 3px solid #7177cf;
	color: #7177cf;
}

#center .right2 li {
	height: 60px;
	line-height: 60px;
	display: flex;
	border: 1px solid #E4E4E4;
	border-top: 0px solid;
	padding-left: 30px;
	color: #535353;
}

#center .right2 li:first-child {
	width: 1050px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #028dea;
	background-color: #f0f5f3;
	border: 1px solid #e4e4e4;
}

#center .right2 li:nth-of-type(2) span {
	flex: 1;
	font-size: 18px;
}

#center .right2 li:nth-of-type(3) span {
	flex: 1;
}

#center .right2 li:nth-of-type(3) span input {
	height: 30px;
	width: 130px;
}

#center .right2 li:nth-of-type(3) span:last-child i {
	width: 70px;
	height: 30px;
	background-color: #007AC8;
	display: inline-block;
	line-height: 30px;
	color: #fff;
	cursor: ;
	text-align: center;
}

#center .right2 li:nth-of-type(4) {
	height: 50px;
	background-color: #f0f5f3;
	font-size: 16px;
	line-height: 50px;
}

#center .right2 li:nth-of-type(4) select {
	border: 0px solid;
	background-color: transparent;
	color: #007AC8;
	outline: none;
}

#center .right2 li:nth-of-type(4) span {
	flex: 1;
	text-align: center;
}
#center .right2 li:nth-of-type(4) span:first-child{
	text-align: left;
}
#center .right2 li:nth-of-type(5) {
	height: 60px;
	display: block;
}

#center .right2 li:nth-of-type(5) span {
	display: inline-block;
	width: 70px;
	height: 30px;
	border: 1px solid #C4C4C4;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

#center .right2 li:nth-of-type(5) span:nth-of-type(2) {
	margin-left: 20px;
}

#center .right2 li:nth-of-type(5) span:last-child {
	float: right;
	margin-right: 30px;
	border: 0px solid;
	line-height: 60px;
}

#center .right2 li:nth-of-type(6) {
	height: 50px;
	line-height: 50px;
	background-color: #f0f5f3;
}

#center .right2 li:nth-of-type(6) span {
	margin-right: 90px;
}

#center .right2 .dingdan {
	height: 130px;
	line-height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
/*#center .right2 .dingdan s*/
#center .right2 .dingdan span {
	flex: 1;
	padding-top: 40px;
	height: 100;
	border-right: 1px solid #F0F5F3;
	font-size: 13px;
	text-align: center;
}
#center .right2 .dingdan>span:first-child{
	text-align: left;
	width: 100px;
	padding-left: 30px;
}
#center .right2 .dingdan span input[type='checkbox'] {
	margin-right: 8px;
}

.hui {
	color: #888;
}

#center .right2 .dingdan span:last-child {
	padding-top: 20px;
	
}
#center .right2 .dingdan .zhuangtai{
	color: #FE7B00;
}
#center .right2 .dingdan span:last-child div{
	width:60px ;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: auto;
}
#center .right2 .dingdan span:last-child div:nth-of-type(2){
	color: #fff;
	background-color: #FE7B00;
}
#center .right2 .fenye{
	border: 0px solid;
	display: block;
	text-align: center;
	margin-top: 30px;
}

#center .right2 .fenye i{
	margin: 0px;
	width: 60px;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
	padding: 0px;
	color: #007AC8;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #C4C4C4;
	background-color: #fff;
	cursor: pointer;
	
}
#center .right2 .fenye .active{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	background-color: #007AC8;
	margin-left: 20px;
	margin-right: 0px;
}
/*订单详情页面*/
#center .t1{
	width: 1050px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #028dea;
	background-color: #f0f5f3;
	border: 1px solid #C4C4C4;
	padding-left: 20px;
}
#center .t1 i,#center .t1 i a{
	float: right;
	font-size: 14px;
	margin-right: 10px;
	color: #028dea;
}
#center .right3>li{
	height: 60px;
	line-height: 60px;
	padding-left: 30px;
	border: 1px solid #C4C4C4;
	border-top: 0px solid;
	
}
#center .right3>li:first-child{
	border-top: 1px solid #C4C4C4;
}
#center .right3>li>span{
	margin-right: 35px;
	font-size: 18px;
	
	color: #545351;
}
#center .right3>li:nth-of-type(2){
	background-color: #fff8f2;
	border-top: 0px solid;
	font-weight: bold;
}
#center .right3>li:nth-of-type(3){
	background-color: #fff8f2;
	
}
.orange{
	color: #ff5102;
}
#center .right3>li:nth-of-type(2) span:nth-of-type(3){
	font-size: 14px;
	font-weight: 100;
	color: red;
	margin-left: 150px;
	margin-right: 10px;
}
#center .right3>li:nth-of-type(2) span:nth-of-type(4),#center .right3>li:nth-of-type(2) span:nth-of-type(5){
	width: 70px;
	height: 25px;
	background-color: #ff5102;
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	margin-right: 10px;
	cursor: pointer;
	
}
#center .right3>li:nth-of-type(2) span:nth-of-type(5){
	background-color: #fff;
	color: #373737;
	border:1px solid #a2a2a2;
}
#center .right3>li:nth-of-type(3) span{
	font-size: 16px;
}
#center .right3>li:nth-of-type(4){
	height: 145px;
}
#center .right3>li:nth-of-type(5){
	height: 90px;
	line-height: 20px;
	font-size: 14px;
}#center .right3>li:nth-of-type(5) span{

	font-size: 14px;
}
#center .right3>li:nth-of-type(5) div{
	padding-top: 10px;
	line-height: 40px;
	color: #ff5102;
	font-size: 16px;
	font-weight: bold;
}
#center .right3>li:nth-of-type(6) span{
	background-color: #C4C4C4;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 170px;
	background-color: #f0f5f3;
	text-align: center;
}
#center .right3>li:nth-of-type(6) .active{
	background-color: #fff;
	color: #000000;
}
#center .right3>li:nth-of-type(6) {
	padding: 0px;
	background-color: #f0f5f3;
}
#center .right3>.fwsbj{
	height: 220px;
	padding-top: 40px;
	/*overflow: hidden;*/

}
#center .right3>.fwsbj>.bj span{
	display: inline-block;
	float: left;
	line-height: 30px;
	margin-top: 20px;
	font-size: 14px;
	margin-bottom: 20px;
}

#center .right3>.fwsbj>.bj span:first-child{
	width: 110px;
	height: 110px;
	border: 1px solid #C4C4C4;
	margin-top: 0px;
	margin-right: 5px;
}
.black{
	color: black;
}
#center .right3>.fwsbj>.bj span:nth-of-type(3){
	width: 200px;
	height: 85px;
	border: 1px solid #C4C4C4;
	margin-left: 200px;
	padding-left: 10px;
	line-height: 25px;
	padding-top: 10px;
}
#center .right3>.fwsbj>.bj span:nth-of-type(4){
	margin-left: 200px;
	font-size: 16px;
}
#center .right3 .button1{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 40px;
	background-color: #ff5102;
	color: #fff;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
#center .right3 .phone{
	font-size: 14px;
	color: #000;
}
#center .right3 .liuyan{
	padding-right: 30px;
	display: block;
	clear: both;
}
#center .right3 .liuyan span{
	display: block;
	margin: auto;
	border-top: 1px solid #C4C4C4;
	font-size: 14px;
}
#center .changepsw .t1{

	
}
#center .changepsw li:nth-of-type(2) ul{
	border: 1px solid #C4C4C4;
	height: 600px;
	border-top: 0px;
	
	padding-top: 20px;
	color: #353535;
}

#center .changepsw li:nth-of-type(2) ul li{
	margin-top: 20px;
	padding-left: 40px;
}
#center .changepsw li:nth-of-type(2) ul li span{
	display: inline-block;
	width: 80px;
	text-align: right;
}
#center .changepsw li:nth-of-type(2) ul li input{
	width: 280px;
	height: 35px;
	padding-left: 10px;
	
}
#center .changepsw button{
	width: 145px;
	height: 45px;
	background-color: #007AC8;
	color: #fff;
	border: 0px solid;
	margin-bottom:20px;
}
#center .fj{
	border-bottom: 1px dashed #C4C4C4;
}
/*安全中心*/
#center .safe>li:nth-of-type(2){
	border: 1px solid #C4C4C4;
	border-top: 0px solid;
	height: 600px;
	padding: 30px;
}
